<div class="container">
    <app-header></app-header>
    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);"></div>
        <!--/.bg-holder-->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <h3 class="mb-0">Get started with your free trial</h3>
              <p class="mt-2">Premium team - 5 Seats. Free for 30 days, cancel at any time. <br>$6.25 / seat month after a trial</p>
              <div class="dropdown"><button class="btn btn-link dropdown-toggle pl-0 btn-sm" id="change-plan" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change plan</button>
                <div class="dropdown-menu py-0" aria-labelledby="change-plan" style="min-width: 15rem;">
                  <div class="bg-white py-3 rounded-soft">
                    <div class="dropdown-item text-base px-3 py-2"><span class="d-flex justify-content-between fs--1 text-black"><span class="font-weight-semi-bold">Standard License</span><span>$59.00</span></span>
                      <ul class="list-unstyled pl-1 my-2 fs--1">
                        <li> <svg class="svg-inline--fa fa-circle fa-w-16" data-fa-transform="shrink-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.3125, 0.3125)  rotate(0 0 0)"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="fas fa-circle" data-fa-transform="shrink-11"></span> --><span class="ml-1">Use for a single product</span></li>
                        <li><svg class="svg-inline--fa fa-circle fa-w-16" data-fa-transform="shrink-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.3125, 0.3125)  rotate(0 0 0)"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="fas fa-circle" data-fa-transform="shrink-11"></span> --><span class="ml-1">Non-paying users only</span></li>
                      </ul>
                      <p class="fs--2 mb-0">Read the full <a href="#!">Standard License </a></p>
                    </div>
                    <div class="dropdown-divider my-0"></div>
                    <div class="dropdown-item text-base px-3 py-2"><span class="d-flex justify-content-between fs--1 text-black"><span class="font-weight-semi-bold">Extended License</span><span>$99.00</span></span>
                      <ul class="list-unstyled pl-1 my-2 fs--1">
                        <li> <svg class="svg-inline--fa fa-circle fa-w-16" data-fa-transform="shrink-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.3125, 0.3125)  rotate(0 0 0)"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="fas fa-circle" data-fa-transform="shrink-11"></span> --><span class="ml-1">Unlimited websites</span></li>
                        <li> <svg class="svg-inline--fa fa-circle fa-w-16" data-fa-transform="shrink-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.3125, 0.3125)  rotate(0 0 0)"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="fas fa-circle" data-fa-transform="shrink-11"></span> --><span class="ml-1">Paying users allowed</span></li>
                      </ul>
                      <p class="fs--2 mb-0">Read the full <a href="#!">Extended License</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-8 pr-lg-2 mb-3">
          <div class="h-100 card">
            <div class="card-header">
              <h5 class="mb-0">Billing Details</h5>
            </div>
            <div class="card-body bg-light">
              <div class="row">
                <div class="col">
                  <!-- <div class="custom-control custom-radio"><input class="custom-control-input" type="radio" name="billing" id="paypal"><label class="custom-control-label" for="paypal"><img class="pull-right" src="../assets/img/icons/icon-paypal-full.png" height="20" alt=""></label></div>
                  <p class="fs--1 mb-4">Pay with PayPal, Apple Pay, PayPal Credit and much more</p>
                  <div class="custom-control custom-radio"><input class="custom-control-input" type="radio" name="billing" id="credit-card" checked="checked"><label class="custom-control-label" for="credit-card"><span class="d-flex align-items-center"><span class="fs-1 text-nowrap">Credit Card</span><img class="d-none d-sm-inline-block ml-2 mt-lg-0" src="../assets/img/icons/icon-payment-methods.png" height="20" alt=""></span></label></div> -->
                  <p> Customar Billing Information</p>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="name">Name</label>
                        <input [(ngModel)]="getName" class="form-control" placeholder="John Doe" id="name" type="text"></div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="email">Email</label>
                        <input [(ngModel)]="getEmail" class="form-control" id="email" placeholder="JohnDoe@gmail.com" type="text"></div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="phone">Phone</label>
                        <input [(ngModel)]="getPhone" class="form-control" id="phone" placeholder="+88 01XXX XXXXX" type="text"></div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="projectName">Project Name</label>
                        <input [(ngModel)]="getProjectName" class="form-control" id="projectName" placeholder="Android API Engine Development" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="projectDetiles">Project Detiles</label>
                        <textarea [(ngModel)]="getProjectDetiles" class="form-control" id="projectDetiles" rows="8"  type="text"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pl-lg-2 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="mb-0">Billing</h5>
            </div>
            <div class="bg-light card-body">
              <select [(ngModel)]="getStatus" class="mb-3 custom-select" id="exampleCustomSelect" name="customSelect">
                <option value="active" selected>Active</option>
                <option value="paused">Paused</option>
                <option value="payment">Waiting For Payment</option>
                <option value="declined">Declined</option>
                <option value="done">Done</option>
              </select>

              <div class="form-row">
                <div class="col-4 col-sm-4">
                  <div class="form-group">
                    <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="customSelectCountry">Country</label>
                    <select [(ngModel)]="getCountry" class="custom-select" id="customSelectCountry" name="customSelectCountry">
                      <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
                    </select>
                  </div>
                </div>
                <div class="col-4 col-sm-4">
                  <div class="form-group form-group">
                    <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="zipCode">Total Bill</label>
                    <input [(ngModel)]="getAmount" class="form-control" id="zipCode" placeholder="2570" type="number"></div>
                </div>
                <div class="col-4 col-sm-4">
                  <div class="form-group">
                    <label class="ls text-uppercase text-600 font-weight-semi-bold mb-0" for="expDate">Paid</label>
                    <input [(ngModel)]="getPaid" class="form-control" id="expDate" placeholder="2000" type="number"></div>
                </div>
              </div>

              <div class="d-flex justify-content-between fs--1 mb-1">
                <p class="mb-0">Total Due</p><span> ৳ {{ getAmount - getPaid }} </span>
              </div>
              <div class="d-flex justify-content-between fs--1 mb-1 text-success">
                <p class="mb-0">Total Paid</p><span> ৳ {{ getPaid }} </span>
              </div>
              <hr>
              <h5 class="d-flex justify-content-between"><span>Due today</span><span> ৳ {{ getPaid }} </span></h5>
              <!-- <p class="fs--1 text-600">Once you start your trial, you will have 30 days to use Falcon Premium for free. After 30 days you’ll be charged based on your selected plan.</p> -->
              <textarea [(ngModel)]="getNote" class="form-control mb-2" id="projectNote" rows="3"></textarea>
              <button (click)="create()" class="btn btn-primary btn-block" type="submit"><svg class="svg-inline--fa fa-lock fa-w-14 mr-2" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></path></svg><!-- <span class="fa fa-lock mr-2"></span> --> Procced Invoice </button>
              <div class="text-center mt-2">
                <small class="d-inline-block">By continuing, you are agreeing to our subscriber <a href="/pages/billing#!">terms</a> and will be charged at the end of the trial. </small></div>
            </div>
          </div>
        </div>
      </div>
</div>