.login{
    margin-top: 200px;
}


.register-link {
    text-decoration: none;
    color: #56A689;
    font-size: large;
}

.header-image {
    background-image: url('https://res.cloudinary.com/abidcloud/image/upload/v1678513240/logo/abid-apps-logo_jiatxb.png');
    background-size: cover;
  }