<ngx-loading-bar></ngx-loading-bar>
<div class="container">
    <app-header></app-header>
    <div class="card mb-3">
        <div class="card-body">
          <div class="row align-items-center text-center mb-3">
            <div class="col-sm-6 text-sm-left">
              <img src="assets/image/logo.png" alt="invoice" width="150">
            </div>
            <div class="col text-sm-right mt-3 mt-sm-0">
              <h2 class="mb-3">Invoice</h2>
              <h5>Abid Hasan</h5>
              <p class="fs--1 mb-0"> Web Based Software Developer <br> Rangpur, Bangladesh</p>
            </div>
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h6 class="text-500">Invoice to</h6>
              <h5> {{ invoice.name }} </h5>
              <p class="fs--1"> {{ invoice.country }} </p>
              <p class="fs--1">
                <a href="">{{ invoice.email }}</a><br>
                <a href="tel:{{invoice.phone}}"> {{ invoice.phone }} </a>
              </p>
            </div>
            <div class="col-sm-auto ml-auto">
              <div class="table-responsive">
                <table class="table table-sm table-borderless fs--1">
                  <tbody>
                    <tr>
                      <th class="text-sm-right">Order Number:</th>
                      <td> # {{ invoice._id.toUpperCase() }} </td>
                    </tr>
                    <tr>
                      <th class="text-sm-right">Invoice Date:</th>
                      <td>{{ invoice.date }}</td>
                    </tr>
                    <tr class="alert-success font-weight-bold">
                      <th class="text-sm-right">Payment Paid:</th>
                      <td> ৳ {{ invoice.paid }} </td>
                    </tr>
                    <tr class="alert-warning font-weight-bold pt-2">
                      <th class="text-sm-right">Amount Due:</th>
                      <td> ৳ {{ invoice.amount - invoice.paid }} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-4 fs--1">
            <h5>Project Name</h5>
            <p> {{ invoice.projectName }} </p>
            <h5>Project Detiles</h5>
            <p style="white-space: pre-line"> {{ invoice.projectDetiles }} </p>
          </div>
          <div class="row no-gutters justify-content-end">
            <div class="col-auto">
              <table class="table table-sm table-borderless fs--1 text-right">
                <tbody><tr>
                  <th class="text-900">Subtotal:</th>
                  <td class="font-weight-semi-bold">৳ {{ invoice.amount }} </td>
                </tr>
                <tr>
                  <th class="text-900">Additional Services:</th>
                  <td class="font-weight-semi-bold"> ৳ 0 </td>
                </tr>
                <tr class="border-top">
                  <th class="text-900">Total:</th>
                  <td class="font-weight-semi-bold">৳ {{ invoice.amount }}</td>
                </tr>
                <tr class="border-top border-2x font-weight-bold text-900">
                  <th>Amount Due:</th>
                  <td> ৳ {{ invoice.amount - invoice.paid }}</td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>
        <div class="card-footer bg-light">
          <button class="btn btn-info" onclick="print()"> Print</button>
          <p class="fs--1 mb-0"><strong>Notes: </strong>We really appreciate your business and if there’s anything else we can do, please let us know!</p>
        </div>
      </div>
</div>